/*! --------------------------------------------------------------------
CSS

* @Version:    1.0.0 - 2017
* @author:     Daniel Torres (alexandre gomes)
* @email:      daniel.torrer@gmail.com
* @website:    gitlab.com/danieltorrer
* @preserve
-----------------------------------------------------------------------*/

$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
	height: 100%;
}

body {
	background: #f0f0f0;
}

* {
	box-sizing: border-box;
}

/********
m e n u
********/
nav.nav-home {
	display: block;
	position: fixed;
	top: 50%;
	margin-top: -38px;
	right: 20px;
	z-index: 100;

	ul {
		list-style: none;

		li {
			position: relative;
			width: 12px;
			height: 12px;
			margin: 12px 0;
			cursor: pointer;

			span {
				position: relative;
				top: 0;
				left: 0;
				display: block;
				float: none;
				width: 12px;
				height: 12px;
				border-radius: 12px 12px;
				border: 2px solid #fff;
				background: 0 0;
				text-indent: -5555px;
			}

			&.active{
				pointer-events: none;

				span {
					position: absolute;
					top: 0;
					left: 0;
					width: 12px;
					height: 12px;
					border-radius: 12px 12px;
					border: 2px solid #fff;
					background: #fff;
				}
			}
		}
	}
}

nav.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 900;
	overflow: hidden;
	background: #333333;

	.menu-list {
		position: relative;
		margin-bottom: 40px;
		margin-top: 60px;
		width: 100%;

		.menu-item{
			position: relative;
			display: block;
			width: 100%;
			padding-left: 0px;
			margin-left: 0px;
			font-size: 72px;

			&.social-icons{
				//text-align: center;
				left: 50%;
				margin-left: -297px;

				img{
					margin: 0 30px;
				}
			}

			a{
				display: inline-block;
				position: relative;
				left: 50%;
				margin-left: -297px;
				white-space: nowrap;
				color: #fff;
			}
		}
	}
}

/********
h e a d e r
********/

header {

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	color: #ffff;
	z-index: 1000;
	-webkit-transition: -webkit-transform .2s ease-out;
	-ms-transition: -ms-transform .2s ease-out;
	-moz-transition: -moz-transform .2s ease-out;
	transition: transform .2s ease-out;

}

.menu-btn {

	position: absolute;
	right: 22px;
	top: 26px;
	width: 28px;
	height: 19px;
	overflow: hidden;
	z-index: 20;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	a {
		display: block;
		position: absolute;
		left: -11px;
		top: -15px;
		width: 50px;
		height: 50px;
		text-indent: -5555px;
	}

	.l1 {
		margin-top: -8px;
	}

	.l3 {
		margin-top: 8px;
	}

	span {
		display: block;
		width: 28px;
		height: 3px;
		background: #fff;
		position: absolute;
		left: 0;
		top: 8px;
		border-radius: 3px;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
		background-clip: padding-box;
		-webkit-transition: margin .13s ease-out .23s,opacity .13s ease-out .23s,-webkit-transform .13s ease-out,background .14s linear;
		-moz-transition: margin .13s ease-out .23s,opacity .13s ease-out .23s,-moz-transform .13s ease-out,background .14s linear;
		-ms-transition: margin .13s ease-out .23s,opacity .13s ease-out .23s,-ms-transform .13s ease-out,background .14s linear;
		transition: margin .13s ease-out .23s,opacity .13s ease-out .23s,transform .13s ease-out,background .14s linear;
	}

}

.menu-btn-back {

	position: absolute;
	right: 22px;
	top: 26px;
	width: 28px;
	height: 19px;
	overflow: hidden;
	z-index: 20;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

}


/******
f o o t e r
******/

footer {
	padding: 30px 0;

	ul {
		list-style: none;
		li {
			margin-bottom: 15px;
		}
	}
}

/******
S l i d e
******/

.skrollr-deck{
	position: relative;
	box-sizing: border-box;
	text-align: center;
	z-index: 10;
}


.float-void {
	visibility: hidden;
}

.float-deck{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.slide-wrapper {

	position: relative;
	width: 100%;
	height: 100vh;
	// overflow: hidden;
	z-index: 10;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

.slide {

	background: rgba(190, 100, 100, 0.6);
	//position: fixed;
	//top: 0;
	//left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	// -webkit-transform: translateY(100%);
	// -ms-transform: translateY(100%);
	// transform: translateY(100%);
}

.movilidad-categoria:hover {

	.movilidad-descripcion {
		visibility: visible;
	}
}

.movilidad-descripcion {
	visibility: hidden;
}


.home {
	background: #0fefff;
}

.about {
	background: #f0ff00;
}

.one-seguridad {
	padding-top: 90px;
}

.stats-seguridad-description {
	.col-sm-6 {
		height: 420px;
		background: tomato;

		.stats-quote {
			height: 100%;
			padding: 15px 90px;
		}

		.stats-list {
			height: 100%;
			padding: 30px 90px 15px 90px;

			ul {
				list-style: none;

				li {
					margin-bottom: 15px;
					img {
						margin-right: 15px;
					}
				}
			}
		}

		&:first-child {
			background: red;
		}
	}
}

.stats-number {
	padding: 60px 0;

	h4 {
		font-size: 64px;
	}

}

/*******
c o r e
c l a s s e s
*******/

.menu-opened{
	overflow: hidden;
	background: #e1e8eb;
}

.scroll-item {
	display: block;
	position: absolute;
	left: calc(50% - 40px);
	bottom: 30px;
}

.full-image {
	width: 100%;
	height: auto;
}

.valign{
	width: 100%;
	display: table;
}

.valign-item {
	display: table-cell;
	vertical-align: middle;
}

.valign-bottom {
	vertical-align: bottom;
}

.news-title {
	margin-bottom: 60px;
}

.news-item{
	background: white;
	padding: 30px 45px;

	p {
		font-size: 12px;
	}

	&.medium-item{
		height: 300px;
	}

	&.small-item {
		height: 150px;

	}

	&:nth-child(2){
		background: tomato;
	}
}

.scroll-item-small{
	margin-top: 60px;
}

.button {

	.button-primary{

	}

	.button-default{

	}
}
