/*! --------------------------------------------------------------------
CSS

* @Version:    1.0.0 - 2017
* @author:     Daniel Torres
* @email:      daniel.torrer@gmail.com
* @website:    gitlab.com/danieltorrer
* @preserve
-----------------------------------------------------------------------*/

$icon-font-path: '../fonts/';

/* bower:scss*/
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
/* endbower*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');


/*Colors*/
$primary-red: #e22d35;
$default-text-color: #262121;
$secondary-text-color: #c6c6c6;
$primary-green: #c3d102;

$movilidad-green : #c3d102;
$movilidad-blue: #41b4bf;
$movilidad-pink: #ea094b;

* {
	box-sizing: border-box !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

html, body {
	height: 100%;
}


h1, h2, h3, h4 ,h5 ,h6, label {
	font-family: 'PT Sans Narrow', sans-serif;
	color: $default-text-color;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;

}

a, p, li, span {
	font-family: 'Lato', sans-serif;
	color: $default-text-color;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

input[type="text"],
input[type="email"],
textarea {
	font-family: 'PT Sans Narrow', sans-serif;
	background: none;
	border-radius: 0;
	padding: 10px 30px;
	color: white;

	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		color:    #7f7e7e;
	}

	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:    #7f7e7e;
		opacity:  1;
	}

	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:    #7f7e7e;
		opacity:  1;
	}

	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color:    #7f7e7e;
	}
}

input.bg {
	background: white;
}
/********
m e n u
********/
.font-title {
	font-family: 'PT Sans Narrow', sans-serif;
}

.font-text {
	font-family: 'Lato', sans-serif;
}

nav.nav-home {
	display: block;
	position: fixed;
	top: 50%;
	margin-top: -38px;
	right: 20px;
	z-index: 29;

	ul {
		list-style: none;

		li {
			position: relative;
			width: 12px;
			height: 12px;
			margin: 12px 0;
			cursor: pointer;

			span {
				position: relative;
				top: 0;
				left: 0;
				display: block;
				float: none;
				width: 12px;
				height: 12px;
				border-radius: 12px 12px;
				border: 2px solid #fff;
				background: 0 0;
				text-indent: -5555px;
			}

			&.active{
				pointer-events: none;

				span {
					position: absolute;
					top: 0;
					left: 0;
					width: 12px;
					height: 12px;
					border-radius: 12px 12px;
					border: 2px solid #fff;
					background: #fff;
				}
			}
		}
	}
}

nav.menu-container {
	transform: translateY(-130%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 900;
	overflow: hidden;
	background: #222120;
	overflow-y: visible !important;
	z-index: 30;


	.menu-list {
		overflow-y: visible !important;
		position: relative;
		margin-bottom: 40px;
		margin-top: 60px;
		width: 100%;

		.menu-item {
			// text-transform: uppercase;
			position: relative;
			display: block;
			width: 100%;
			margin-left: 0px;
			font-size: 36px;
			padding: 20px 0;

			.item-sub-menu {
				span {
					margin-left: 10px;
					font-size: 18px;
					color: #363534;
					vertical-align: middle;
					-webkit-transition: color .3s linear;
					-moz-transition: color .3s linear;
					-ms-transition: color .3s linear;
					transition: color .3s linear;
				}
			}

			.menu-item-list {
				padding-left: 60px;
				//position: relative;
				//top: 0;
				//left: 0;
				//height: auto;
				//width: 100%;
				li {
					padding: 20px;
				}
			}

			&:hover {
				&>a {
					color: #fff;
					text-decoration: none;

					span {
						color: #fff;
					}
				}
			}
			&:hover:not(:last-child) {
				background: #232322;
			}

			&.social-icons{
				/*text-align: center;*/
				left: 50%;
				margin-left: -297px;
				margin-top: 30px;

				svg {
					margin: 0 30px;
					height: 25px;
					width: auto;

					path {
						fill: white;
					}

					&:hover path {
						fill: #a4151d;
					}
				}
			}

			a {
				display: inline-block;
				position: relative;
				left: 50%;
				font-weight: 700;
				margin-left: -297px;
				white-space: nowrap;
				color: #363534;
				-webkit-transition: color .3s linear;
				-moz-transition: color .3s linear;
				-ms-transition: color .3s linear;
				transition: color .3s linear;

				&:focus,
				&:hover,
				&:active {
					text-decoration: none;
				}
			}
		}
	}
}

/********
h e a d e r
********/

.menu-opened header {
	// svg path, svg path.a {
	// 	fill: original;
	// }
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	color: #ffff;
	z-index: 1000;
	-webkit-transition: -webkit-transform .2s ease-out;
	transition: -webkit-transform .2s ease-out;
	transition: transform .2s ease-out;
	transition: transform .2s ease-out, -webkit-transform .2s ease-out;
	padding: 15px 30px;

	&.alternate-header {
		background: $primary-red;
		height: 65px;

		path, path.a{
			fill: white;
		}
	}

	h1 {
		display: inline-block;
		margin: 0;
	}

	svg {
		width: 180px;
		height: auto;

		&.logo-vector {
			path, path.a{
				fill: white;
			}
		}
	}

}

.menu-btn {

	position: absolute;
	right: 22px;
	top: 26px;
	width: 28px;
	height: 19px;
	overflow: hidden;
	z-index: 20;
	background-clip: padding-box;

	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	span {

		display: block;
		width: 28px;
		height: 3px;
		background: #fff;
		position: absolute;
		left: 0;
		top: 8px;
		border-radius: 3px;
		background-clip: padding-box;
		-webkit-transition: margin .13s ease-out .23s,opacity .13s ease-out .23s,-webkit-transform .13s ease-out,background .14s linear;
		-webkit-transition: margin .13s ease-out .23s,opacity .13s ease-out .23s,background .14s linear,-webkit-transform .13s ease-out;
		transition: margin .13s ease-out .23s,opacity .13s ease-out .23s,background .14s linear,-webkit-transform .13s ease-out;
		transition: margin .13s ease-out .23s,opacity .13s ease-out .23s,transform .13s ease-out,background .14s linear;
		transition: margin .13s ease-out .23s,opacity .13s ease-out .23s,transform .13s ease-out,background .14s linear,-webkit-transform .13s ease-out;
		//
		// -webkit-transition: margin .16s ease-out,opacity .16s ease-out,-webkit-transform .16s cubic-bezier(.175,.885,.485,1.19) .26s,background .14s linear;
		// -moz-transition: margin .16s ease-out,opacity .16s ease-out,-moz-transform .16s cubic-bezier(.175,.885,.485,1.19) .26s,background .14s linear;
		// -ms-transition: margin .16s ease-out,opacity .16s ease-out,-ms-transform .16s cubic-bezier(.175,.885,.485,1.19) .26s,background .14s linear;
		// transition: margin .16s ease-out,opacity .16s ease-out,transform .16s cubic-bezier(.175,.885,.485,1.19) .26s,background .14s linear;
	}

	a {
		display: block;
		position: absolute;
		left: -11px;
		top: -15px;
		width: 50px;
		height: 50px;
		text-indent: -5555px;
	}

	.l1 {
		margin-top: -8px;
	}

	.l3 {
		margin-top: 8px;
	}

}

.menu-btn-back {

	position: absolute;
	right: 22px;
	top: 26px;
	width: 28px;
	height: 19px;
	overflow: hidden;
	z-index: 20;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

}


/******
f o o t e r
******/

footer {
	padding: 30px 0;
	background: white;
	/* background: #f0f0f0;*/

	.legal {
		vertical-align: bottom;

		img {
			margin-top: 30px;
			margin-bottom: 15px;
		}
	}

	ul {
		list-style: none;
		li {
			margin-bottom: 15px;
			font-weight: 300;
			font-size: 16px;
		}
	}

	p {
		color: $default-text-color;
		font-weight: 300;
		font-size: 16px;

		a {
			color: #f42533;
			text-decoration: none;

			&:hover {
				color: #f42533;
				text-decoration: none;
			}
		}
	}
}

/******
S l i d e
******/


.float-void {
	visibility: hidden;
}

.float-deck{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.fixed {
	position: fixed;
	z-index: 10;
	width: 100%;
}

.skrollr-deck{
	position: relative;
	box-sizing: border-box;
	text-align: center;
}

.no-scroll{
	overflow: hidden;
}

.slide {
	top: 0;
	left: 0;
	background: rgba(190, 100, 100, 0.6);
	width: 100%;
	height: 100vh;
	overflow: hidden;

	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	position: fixed;

	&.not-fixed{
		//overflow: auto;
		position: relative;
		-webkit-transform: translateY(0%) !important;
		-ms-transform: translateY(0%) !important;
		transform: translateY(0%) !important;

	}

	&.fixed {
		//position: fixed;
		-webkit-transform: translateY(0) !important;
		-ms-transform: translateY(0) !important;
		transform: translateY(0) !important;
	}

}

.scale-img {
	width: 70%;
	height: auto;
}


// @-webkit-keyframes gradientAnimation {
// 	0%{background-position:50% 0%}
// 	50%{background-position:50% 100%}
// 	100%{background-position:50% 0%}
// }
// @-moz-keyframes gradientAnimation {
// 	0%{background-position:50% 0%}
// 	50%{background-position:50% 100%}
// 	100%{background-position:50% 0%}
// }
// @keyframes gradientAnimation {
// 	0%{background-position:50% 0%}
// 	50%{background-position:50% 100%}
// 	100%{background-position:50% 0%}
// }
.home {
	background: transparent;

	.tilt-backup {
		height: 100%;
		width: 100%;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		z-index: -2;

		// rojo
		&.gradient-1 {
			background: rgba(225,34,47,1);
			background: -moz-linear-gradient(top, rgba(225,34,47,1) 0%, rgba(170,26,36,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(225,34,47,1)), color-stop(100%, rgba(170,26,36,1)));
			background: -webkit-linear-gradient(top, rgba(225,34,47,1) 0%, rgba(170,26,36,1) 100%);
			background: -o-linear-gradient(top, rgba(225,34,47,1) 0%, rgba(170,26,36,1) 100%);
			background: -ms-linear-gradient(top, rgba(225,34,47,1) 0%, rgba(170,26,36,1) 100%);
			background: linear-gradient(to bottom, rgba(225,34,47,1) 0%, rgba(170,26,36,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1222f', endColorstr='#aa1a24', GradientType=0 );
			transform: translate3d(0, 0, 0);
		}

		// green
		&.gradient-2 {
			background: rgba(225,34,47,1);
			background: -moz-linear-gradient(top, #c3d102 0%, #889201 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, #c3d102), color-stop(100%, #889201));
			background: -webkit-linear-gradient(top, #c3d102 0%, #889201 100%);
			background: -o-linear-gradient(top, #c3d102 0%, #889201 100%);
			background: -ms-linear-gradient(top, #c3d102 0%, #889201 100%);
			background: linear-gradient(to bottom, #c3d102 0%, #889201 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d102', endColorstr='#889201', GradientType=0 );
			transform: translate3d(0, 0, 0);
		}

		//
		&.gradient-3 {
			background: rgba(225,34,47,1);
			background: -moz-linear-gradient(top, #27c5d5 0%, #1b8a95 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, #27c5d5), color-stop(100%, #1b8a95));
			background: -webkit-linear-gradient(top, #27c5d5 0%, #1b8a95 100%);
			background: -o-linear-gradient(top, #27c5d5 0%, #1b8a95 100%);
			background: -ms-linear-gradient(top, #27c5d5 0%, #1b8a95 100%);
			background: linear-gradient(to bottom, #27c5d5 0%, #1b8a95 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27c5d5', endColorstr='#1b8a95', GradientType=0 );
			transform: translate3d(0, 0, 0);
		}

		// background: linear-gradient(180deg, #e22d35, #27c5d5, #c3d102);
		// background-size: 600% 600%;
		//
		// -webkit-animation: gradientAnimation 20s ease infinite;
		// -moz-animation: gradientAnimation 20s ease infinite;
		// animation: gradientAnimation 20s ease infinite;
		// transform: translate3d(0, 0, 0);

	}

	#nodes {
		// border: 2px solid rgba(255, 255, 255, 0.5);
		width: 100%;
		height: 100%;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		z-index: -1;
		transform: perspective(1600px) scale3d(1.2, 1.2, 1.2);
		// overflow: hidden;
		// transform: scale(1.2);
		// transform: translate3d(0, 0, 0);
		// background: rgba(225,34,47,1);
		// background: -moz-linear-gradient(top, rgba(225,34,47,1) 0%, rgba(170,26,36,1) 100%);
		// background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(225,34,47,1)), color-stop(100%, rgba(170,26,36,1)));
		// background: -webkit-linear-gradient(top, rgba(225,34,47,1) 0%, rgba(170,26,36,1) 100%);
		// background: -o-linear-gradient(top, rgba(225,34,47,1) 0%, rgba(170,26,36,1) 100%);
		// background: -ms-linear-gradient(top, rgba(225,34,47,1) 0%, rgba(170,26,36,1) 100%);
		// background: linear-gradient(to bottom, rgba(225,34,47,1) 0%, rgba(170,26,36,1) 100%);
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1222f', endColorstr='#aa1a24', GradientType=0 );
		//
		//
		// background: linear-gradient(180deg, #e22d35, #27c5d5, #c3d102);
		// background-size: 600% 600%;
		//
		// -webkit-animation: gradientAnimation 20s ease infinite;
		// -moz-animation: gradientAnimation 20s ease infinite;
		// animation: gradientAnimation 20s ease infinite;
		// transform: translate3d(0, 0, 0);

	}

	.logo-icon {
		width: 60px;
		height: auto;
	}

	h2 {
		color: white;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 48px;
		span {
			color: white;
			font-weight: normal;
		}
	}
}

section#movilidad {
	background: white;
	.valign-item > .container {
		z-index: 5;
	}
}

#movilidad,
.movilidad-deck {
	background: url(../images/bike-b.jpg) no-repeat center center fixed;
	background-size: cover;

	.movilidad-title {
		margin-bottom: 30px;
		transform: translate3d(0, 0, 0);

		h2 {
			color: white;
			text-transform: uppercase;
			font-weight: 900;
		}

		p {
			color: white;
		}
	}

}


.movilidad-categoria {
	position: relative;
	padding: 45px 0;
	border: 1px solid rgba(255, 255, 255, 0);
	transform: translate3d(0, 0, 0);

	img {
		width: 55px;
		height: auto;
		transform: translate3d(0, 0, 0);
	}
	p {
		color: #fff;
		text-transform: uppercase;
		margin-top: 15px;
		transform: translate3d(0, 0, 0);
	}

	.movilidad-descripcion {
		visibility: hidden;
		/* background: rgba(0, 0, 0, 0.3);*/
		width: 100%;
		position: absolute;
		left: 0;
		bottom: -19px;
		transform: translate3d(0, 0, 0);
	}

	&:hover {
		border: 1px solid rgba(255, 255, 255, 0.3);

		.movilidad-descripcion {
			visibility: visible;
			transform: translate3d(0, 0, 0);
		}

		.button.button-primary {
			//display: inline-block;
			opacity: 1;
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}
	}
}


.about {
	background: #22c9d9;

	h4 {
		font-size: 24px;
		color: white;
		text-transform: uppercase;
		font-weight: 400;
	}
}

.ambiente,
.eficiencia,
.contact-cover,
.trabaja-cover,
.boletin-cover,
.nosotros,
.seguridad {
	background: url(../images/cctv-b.jpg) no-repeat center center fixed;
	background-size: cover;

	h2 {
		font-weight: 900;
		color: white;
		text-transform: uppercase;
		font-size: 48px;
	}

	p {
		color: white;
		font-size: 18px;
	}

	img {
		width: 50px;
		height: auto;
	}
}

.boletin-cover {
	background: url(../images/boletin-b.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 85vh;

	img {
		width: 70px;
	}
}

.clientes-cover,
.nosotros-cover {
	background: url(../images/red-b.jpg) no-repeat center center fixed;
	background-size: cover;

	h3 {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 36px;
		margin-bottom: 30px;
	}

	.perks {
		display: inline-block;
		//display: block;
		width: 25%;
		text-align: center;
		margin-top: 60px;
		img {
			padding-bottom: 15px;
			width: 50px;
			height: auto;
		}
		p {
			text-transform: uppercase;
		}
	}
}
/*** nosotros ***/
.nosotros {
	background: url(../images/nosotros-b.jpg) no-repeat center center fixed;
	background-size: cover;

	img {
		width: 120px;
		height: auto;
	}
}

.ideologia {

	.bulb-container {
		margin-top: 60px;
		margin-bottom: 15px;
		img {
			width: 40px;
			height: auto;
		}
	}
	.line {
		background: $primary-red;
	}
	.news-title .col-sm-6 h2,
	.news-title .col-sm-6 h2 span {
		color: $primary-red;
	}

}

.experiencia {
	margin-top: 60px;
	// margin-bottom: 60px;

	h3 {
		text-transform: uppercase;
		font-weight: 900;
	}
}

.convenio-item {
	height: 450px;
	padding: 15px 30px;
	font-weight: 300;

	h3 {
		color: white;
		font-size: 48px;
	}
	p {
		font-size: 18px;
		font-weight: 400;
	}

	.convenio-logo {
		margin-bottom: 30px;
	}
}

.aqua {
	background: #00847c;
}

.aqua-text {
	color: #00847c;
}

.blue {
	background: #0d3351;
}

.blue-text {
	color: #0d3351;
}

.orange {
	background: #e08b1c;
}

.orange-text {
	color: #e08b1c;
}

.gray-text {
	color: #605f54;
}

.gray {
	background: #605f54;
}

.caminable {
	.col-sm-3 {
		padding: 0;
	}
}

.piramide {
	margin-top: 90px;
	margin-bottom: 90px;
	h3 {
		margin-bottom: 90px;
		font-size: 36px;
		font-weight: 300;
		text-transform: uppercase;
		span {
			font-weight: 900;
		}
	}

}

/***** Vacante ****/

.vacante-item {
	//height: 200px;
	margin-bottom: 30px;
	transform: translate3d(0, 0, 0);

	.row {
		background: white;
		margin-left: 0;
		margin-right: 0;
		&:hover {

			background: $primary-red;
			color: white;

			.button.button-animated {
				display: block;
				opacity: 1;
				transform: scale(1);
				margin: 0 auto;
				border: none;
				background: white;
				color: $primary-red;
				transform: translate3d(0, 0, 0);
			}

			span.decorator {
				background: white;
				transform: translate3d(0, 0, 0);
			}

			h5 {
				color: white;
				transform: translate3d(0, 0, 0);
			}

			.vacante-info {
				transform: translate3d(0, 0, 0);
				img {
					display: inline-block;
					margin-right: 5px;
					&:first-child {
						display: none;
					}
				}
				p {
					color: white;
					transform: translate3d(0, 0, 0);
				}
			}
		}
	}

	.col-sm-8 {
		border-right: 1px solid #c6c6c6;
		padding: 60px 0;

		span.decorator {
			height: 35px;
			background: $primary-red;
			width: 10px;
			display: inline-block;
		}

		h5 {
			display: inline-block;
			vertical-align: top;
			margin-top: 0;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 16px;
			margin-left: 15px;
		}
	}

	.vacante-info {
		p {
			display: inline-block;
			color: #c6c6c6;
		}
		img {
			display: inline-block;
			// margin-left: 0px;
			height: 15px;
			width: auto;
			display: none;

			&:first-child {
				display: inline-block;;
			}

		}
		padding-left: 30px;
	}

	.col-sm-3 {
		padding-top: 75px;
		text-align: center;

		.button.button-animated {
			display: block;
			margin: 0 auto;
			opacity: 1;
			border: none;
			background: white;
			color: #c6c6c6;
		}
	}
}


.three-ambiente,
.two-eficiencia,
.one-seguridad {
	padding-top: 90px;
	background: #0c0405;

	p {
		color: white;
		font-size: 18px;
		font-weight: 300;
	}

	ul {
		color: white;
		list-style: none;
		margin: 0;
		padding: 0;
		margin-bottom: 60px;

		li {
			font-size: 	24px;
			color: white;
		}
	}
}

.two-eficiencia {
	background: #0b3564;
	position: relative;

	.moon-bg {
		top: 0;
		left: 0;
		width: 100%;
		position: absolute;
		background: url(../images/moon-b.jpg) no-repeat center center;
		background-size: cover;
		height: 600px;
	}

	ul {
		margin-bottom: 120px;
	}

}

.three-ambiente {
	background: #2b74b2;
}

.eficiencia {
	background: url(../images/eficiencia-b.jpg) no-repeat center center fixed;
	background-size: cover;
}

.ambiente {
	background: url(../images/env-b.jpg) no-repeat center center fixed;
	background-size: cover;
}

.contact-cover {
	background: url("../images/office-b.jpg") no-repeat center center fixed;
	background-size: cover;
}

.trabaja-cover {
	background: url("../images/trabaja-b.jpg") no-repeat center center fixed;
	background-size: cover;
}

.stats-seguridad-description {
	.col-sm-6 {
		height: 480px;
		background: #fbfbfb;

		.stats-quote {
			height: 100%;
			padding: 15px 90px;
		}

		.stats-list {
			height: 100%;
			padding: 30px 90px 15px 90px;
			background: #fbfbfb;

			p {
				font-weight: 300;
				font-size: 18px;
				margin-bottom: 30px;
			}

			ul {
				list-style: none;

				li {
					font-size: 18px;
					margin-bottom: 15px;
					img {
						margin-right: 15px;
					}
				}
			}
		}

		&:first-child {
			background: $primary-green;

			h3 {
				font-size: 42px;
				color: white;
				font-weight: 300;
			}
		}
	}
}

.stats-number-container {
	background-color: white;
	padding: 30px 0;
}

.stats-number {
	padding: 60px 0;

	h4 {
		font-size: 64px;
		color: $primary-green;
	}

	p {
		font-weight: 18px;
	}

}

.soluciones {
	padding-top: 90px;
	background: #222120;

	h2 {
		text-transform: uppercase;
		margin: 0;
		margin-bottom: 90px;
		color: #dddddd;
		font-weight: 300;

		span {
			color: #dddddd;
			font-weight: 900;
		}
	}
}

.solution-item {
	position: relative;

	.solution-image img{
		width: 100%;
		height: 100%;
	}

	.solution-description {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		padding: 90px 90px 30px 90px;
		background: rgba(0, 0, 0, 0.3);

		h4 {
			color: white;
			font-weight: bold;
			font-size: 28px;
			margin: 0;
			font-family: 'PT Sans Narrow', sans-serif;
			text-transform: uppercase;
			color: white;
			margin-bottom: 15px;
			span {
				color: white;
				font-weight: normal;
			}
		}

		a:not(.button) {
			font-family: 'PT Sans Narrow', sans-serif;
			text-transform: uppercase;
			color: white;
			text-decoration: none;
		}
	}

	&.small {
		.solution-description {
			padding: 30px 90px 30px 90px;
		}
	}
}


.book {
	padding: 90px 0;
	background-color: #222120;
	background: url(../images/book-b.jpg) no-repeat center center fixed;
	background-size: cover;


	h4 {
		font-size: 34px;
		margin-bottom: 60px;
		font-weight: 300;
		text-transform: uppercase;
		color: white;


		span {
			font-weight: 900;
			color: white;

		}
	}

	p {
		margin-bottom: 30px;
		color: white;

	}

	span {
		color: white;
		font-weight: 900;
		text-transform: uppercase;
	}

}

.everything {
	padding: 120px 0;
	background: #fff;
	background: url(../images/movilidad-b.png) no-repeat left center;
	background-size: cover;

	.everything-item {

		h4 {
			margin: 0;
			font-size: 28px;
			color: $primary-green;
			text-transform: uppercase;
			span {
				font-weight: 900;
				color: $primary-green;
				text-transform: uppercase;
			}
		}

		.valign-item {
			vertical-align: top;
		}

	}

	.everything-title {
		padding-left: 270px;
	}
}

.line.movilidad-pink,
.movilidad-pink {
	background: $movilidad-pink;
}

.line.movilidad-green,
.movilidad-green {
	background: $movilidad-green;
}

.line.movilidad-blue,
.movilidad-blue {
	background: $movilidad-blue;
}

.movilidad-pink-text {
	color: $movilidad-pink !important;
}

.movilidad-green-text {
	color: $movilidad-green !important;
}

.movilidad-blue-text {
	color: $movilidad-blue !important;
}

.white-text {
	color: white;
}

.see-more {

	.col-sm-6 {
		/*display: table;*/
		position: relative;
		height: 225px;
		background-size: cover;
		background-position: center center;
		-webkit-transition: background .3s linear;
		-moz-transition: background .3s linear;
		-ms-transition: background .3s linear;
		transition: background .3s linear;
		/* background: red;*/
		&.bg-eficiencia:hover {
			background: url("../images/movilidad-mini-b.jpg") no-repeat center center;
			background-size: cover;

		}
		&.bg-seguridad:hover {
			background: url("../images/seguridad-mini-b.jpg") no-repeat center center;
			background-size: cover;

		}
		&.bg-medio:hover {
			background: url("../images/medio-mini-b.jpg") no-repeat center center;
			background-size: cover;

		}
	}

	.see-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.see-description {
		position: relative;
		background-size: cover;
		text-align: center;
		margin: 0;
		display: table;
		vertical-align: middle;
		height: 100%;
		width: 100%;
		border-spacing: 0;


		.see-content {
			display: table-cell;
			width: 100%;
			vertical-align: middle;
			border-spacing: 0;

		}

		h4 {
			color: white;
			text-transform: uppercase;
			margin-bottom: 30px;
		}

	}

}

/********
s i n g l e
********/

.single-cover {
	background: url(../images/lapuebla-b.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 70vh;

	.container {
		height: 100%;
	}

	h2 {
		text-transform: uppercase;
	}

	.single-cover-container {
		height: 100%;
		width: 100%;
		display: table;


		.single-cover-content {
			display: table-cell;
			width: 100%;
			vertical-align: bottom;
			padding-bottom: 60px;
			.single-date {
				font-size: small;
			}
		}
	}
}

.single-content {
	background: white;
	padding-top: 90px;

}

.news-more {
	.leer-mas {
		color: $primary-red;
		text-transform: uppercase;
		font-size: 18px;
		margin-top: 60px;

	}
}

.single-social {
	margin-top: 60px;

	span {
		text-transform: uppercase;
		font-weight: 900;
		color: $secondary-text-color;
	}

	img {
		margin: 0 15px;
	}
	margin-bottom: 60px;
}

.boletin-related {
	.solution-item .solution-description {
		padding: 70px 90px 30px 90px;
	}
}

.single-related {

	padding-top: 60px;

	h3 {
		font-weight: normal;
		margin-bottom: 60px;
		font-weight: 300;


		span {
			font-weight: 900;
		}
	}

	.related-item {
		margin-bottom: 30px;

		&:hover {
			.button {
				display: inline-block !important;
			}
		}

		.solution-description {

			h4 {
				font-weight: normal;
				font-size: 24px;
				margin-bottom: 30px;
			}

			a.single-extract {
				text-transform: none;
				font-weight: bold;
				font-size: 16px;
				font-weight: 400;
			}

			.single-see-more {
				position: relative;
				a.button {
					display: none;
					position: absolute;
					top: calc(50%);
					right: 15px;
				}
			}
		}

		&:last-child {
			margin-bottom: 90px;
		}
	}
}

/*******
c o n t a c t
*******/

.contact-cover {
	/* background: url(../images/cover-b.png) no-repeat center center fixed;*/
	/* background-size: cover;*/

	.container {
		height: 100%;
	}

	.contact-cover-container {
		display: table;
		height: 100%;
	}

	.contact-cover-content {
		display: table-cell;
		vertical-align: middle;

	}
}

.address {
	padding: 60px 0;

	.address-text {
		padding-top: 90px;

		.addres-item {
			font-size: 24px;
			text-transform: uppercase;
		}

		p {
			font-size: 16px;
		}
	}
}

.vacantes,
.contact-form {
	background: #333;
	padding: 60px 0;

	label {
		color: white;
		margin-bottom: 15px;
	}

	.form-control {
		height: 50px;
	}

	textarea.form-control {
		height: inherit;
		background: none;
		border-radius: 0;
		color: white;
	}

	h3 {
		font-weight: 300;
		color: #fff;
		font-size: 36px;
		text-transform: uppercase;
		span {
			color: white;
			font-weight: 900;
		}
	}

	.contact-lider {

		h5 {
			color: white;
			font-size: 24px;
			text-transform: uppercase;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			margin-top: 45px;

			li {
				font-family: 'PT Sans Narrow', sans-serif;
				color: white;
				margin-bottom: 15px;

				img {
					margin-right: 15px;
				}
			}
		}
	}
}

/*******
c o r e
c l a s s e s
*******/
.scroll-body {
	background: none;
	height: 100vh;
	overflow-y: hidden;
}

.relative-wrapper {
	padding-top: 100vh;
	z-index: 25;
	position: relative;

	&.fixed {
		padding-top: 0;
		position: fixed;
		z-index: 5;
	}
}

.z-10 {
	z-index: 10;
}

.z-15 {
	z-index: 15;
}

.z-20 {
	z-index: 20;
}

.margin-90 {
	margin-top: 90px;
}

.movilidad-3-title {
	margin: 0;
	margin-bottom: 60px;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 36px;
	color: white;

	.movilidad-3-number {
		font-weight: bold;
		/*color: $primary-green;*/
	}

	span {
		font-weight: 900;
		color: white;
	}
}

.line {
	width: 40px;
	height: 3px;
	background: white;
	display: inline-block;

	&.line-margin {
		margin-top: 30px;
	}

	&.full {
		width: 100%;
	}

	&.movilidad-line {
		width: 100px;

	}
}

.google-maps {
	color: #e12d35;
	text-transform: uppercase;
	font-size: 16px;

	&:hover {
		color: #e12d35;
		text-decoration: none;
	}
}

.menu-opened{
	overflow: hidden;
	background: #e1e8eb;

	.menu-btn {

		span {
			-webkit-transition: margin .16s ease-out,opacity .16s ease-out,-webkit-transform .16s cubic-bezier(.175,.885,.485,1.19) .26s,background .14s linear;
			-moz-transition: margin .16s ease-out,opacity .16s ease-out,-moz-transform .16s cubic-bezier(.175,.885,.485,1.19) .26s,background .14s linear;
			-ms-transition: margin .16s ease-out,opacity .16s ease-out,-ms-transform .16s cubic-bezier(.175,.885,.485,1.19) .26s,background .14s linear;
			transition: margin .16s ease-out,opacity .16s ease-out,transform .16s cubic-bezier(.175,.885,.485,1.19) .26s,background .14s linear;
		}
		.l1 {
			margin: 0;
			transform: rotate3d(0,0,1,-45deg) scale(.95);
		}
		.l2 {
			opacity: 0;
		}
		.l3 {
			margin-top: 0;
			-webkit-transform: rotate3d(0,0,1,45deg) scale(.95);
			-ms-transform: rotate3d(0,0,1,45deg) scale(.95);
			-moz-transform: rotate3d(0,0,1,45deg) scale(.95);
			transform: rotate3d(0,0,1,45deg) scale(.95);
		}
	}

}

.scroll-item {
	display: block;
	position: absolute;
	left: calc(50% - 40px);
	bottom: 30px;

	p {
		margin: 0;
		padding: 0;
		img.flecha-icon {
			margin: 0;
			padding: 0;
			display: block;
			width: 22px;

			&.flecha-icon-1 {
				animation: pulse-1 2s infinite;
				-webkit-animation: pulse-1 2s infinite;
			}
			&.flecha-icon-2 {
				animation: pulse-2 2s infinite;
				-webkit-animation: pulse-2 2s infinite;
			}
			&.flecha-icon-3 {
				animation: pulse-3 2s infinite;
				-webkit-animation: pulse-3 2s infinite;
			}
			&.flecha-icon-4 {
				animation: pulse-4 2s infinite;
				-webkit-animation: pulse-4 2s infinite;
			}
		}
	}
}


.flecha-icon-1 {
	animation: pulse-1 2s infinite;
	-webkit-animation: pulse-1 2s infinite;
}
.flecha-icon-2 {
	animation: pulse-2 2s infinite;
	-webkit-animation: pulse-2 2s infinite;
}
.flecha-icon-3 {
	animation: pulse-3 2s infinite;
	-webkit-animation: pulse-3 2s infinite;
}
.flecha-icon-4 {
	animation: pulse-4 2s infinite;
	-webkit-animation: pulse-4 2s infinite;
}



@keyframes pulse-1 {
	0%, 100% {
		opacity: 0;
	}
	10%, 90% {
		opacity: 0.2;
	}
	20%, 80% {
		opacity: 0.4;
	}
	30%, 70% {
		opacity: 0.6;
	}
	40%, 60% {
		opacity: 0.8;
	}
	50% {
		opacity: 1;
	}
}

@keyframes pulse-2 {
	0%, 80%, 100% {
		opacity: 0.2;
	}
	10%, 70% {
		opacity: 0.4;
	}
	20%, 60% {
		opacity: 0.6;
	}
	30%, 50% {
		opacity: 0.8;
	}
	40% {
		opacity: 1.0;
	}
	90% {
		opacity: 0.0;
	}
}

@keyframes pulse-3 {
	0%, 60%, 100% {
		opacity: 0.4;
	}
	10%, 50% {
		opacity: 0.6;
	}
	20%, 40% {
		opacity: 0.8;
	}
	30%, {
		opacity: 1.0;
	}
	70%, 90% {
		opacity: 0.2;
	}
	80% {
		opacity: 0.0;
	}
}

@keyframes pulse-4 {
	0%, 40%, 100% {
		opacity: 0.6;
	}
	10%, 30% {
		opacity: 0.8;
	}
	20%, 40% {
		opacity: 1.0;
	}
	50%, 90%{
		opacity: 0.4;
	}
	60%, 80% {
		opacity: 0.2;
	}
	70% {
		opacity: 0.0;
	}
}


.full-image {
	width: 100%;
	height: auto;
}

.valign{
	width: 100%;
	display: table;
}

.valign-item {
	display: table-cell;
	vertical-align: middle;
}

.valign-bottom {
	vertical-align: bottom;
}

#news {
	background: #333;
	color: white;

	.container {
		padding-top: 90px;
		height: 100%;
	}
}

.news-title {
	margin-bottom: 60px;
	height: 72px;
	transform: translate3d(0, 0, 0);

	.col-sm-3 {
		vertical-align: top;
		// padding-left: 0;
	}

	.col-sm-6 {
		vertical-align: top;

		h2 {
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			font-weight: 300;
			color: white;

			span {
				color: white;
				font-weight: 900;
			}
		}

		h4 {
			text-transform: uppercase;
			font-weight: 300;
			color: white;
			color: $primary-red;

			span {
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
				// color: $primary-red;
			}
		}
	}
}

.news-container {
	height: calc(100% - 72px - 60px);

	.col-sm-7 {
		height: 100%;

		.row {
			height: 50%;
		}
	}
}

.news-item {
	background: white;
	padding: 30px 45px;
	color: #333;
	transform: translate3d(0, 0, 0);
	text-align: left;
	background: url(../images/news-b.jpg) no-repeat center center;
	background-size: cover;


	div {
		padding: 60px 30px 0 30px;
		height: 100%;

		.button.button-primary {
			//display: none;
		}

	}

	// .button-container {
	// 	// width: 100%;
	// 	// height: 100%;
	// 	position: absolute;
	// 	padding: 0;
	// 	margin: 0;
	// 	bottom: 10%;
	// 	left: 0;
	// }

	&:hover {
		.button.button-animated {
			//display: inline-block;
			position: absolute;
			bottom: 9%;
			opacity: 1;
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}
	}

	h5 {
		color: white;
		font-size: 18px;
		text-transform: uppercase;
	}

	p {
		color: white;
		font-size: 24px;
	}

	&.medium-item{
		position: relative;
		height: 100%;
		padding-top: 90px;
		background: url(../images/bike-3-b.jpg) no-repeat center center;// fixed;
		background-size: cover;

		p {
			text-transform: uppercase;
			font-size: 24px;
			margin-bottom: 30px;
			margin: 0;
			padding: 0;
		}

		&:hover {
			.button.button-animated {
				//display: inline-block;
				margin-left: 30px;
				position: absolute;
				bottom: 9%;
				opacity: 1;
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
			}
		}

	}

	&.small-item {
		height: 100%;

		&:hover {
			.button.button-animated {
				//display: inline-block;
				position: absolute;
				bottom: 10%;
				opacity: 1;
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
			}
		}

		div {
			padding-top: 5px;
			padding-bottom: 10px;
		}

		p {
			font-size: 14px;
		}

		&.no-bg {
			background: $primary-red;
		}

		&.no-bg-white {
			background: white;

			h5, p {
				color: $default-text-color;
			}
		}
	}

}

.newsletter {
	background: url("../images/news-b.jpg") no-repeat center center;
	background-size: cover;
	height: 320px;

	.container {
		height: 100%;
	}

	.col-sm-6 {
		padding: 30px 0;

		h3 {
			text-transform: uppercase;
		}

		.newsletter-form {
			position: relative;
			width: 400px;
			margin: 0 auto;

			.form-control {
				width: 400px;
				margin: 0 auto;
				border-radius: 0;
				color: $default-text-color;
			}

			.icon-form {
				content: "";
				position: absolute;
				top: 9px;
				right: 12px;
				width: 21px;
				height: auto;
			}
		}
	}
}

.zoom-image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	-webkit-transform: translate3d(0,0,0) scale(1);
    -ms-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    transition: opacity .3s linear;

	&.zoom-animate {
		-webkit-animation: growimageHome 15s 0s linear infinite alternate;
		-ms-animation: growimageHome 15s 0s linear infinite alternate;
		animation: growimageHome 15s 0s linear infinite alternate;
		transform: translate3d(0, 0, 0);
	}

	&.hide-image {
		z-index: -1;
		opacity: 0;
	}
}


@-webkit-keyframes growimageHome {
	0% {
		-webkit-transform: translate3d(0,0,0) scale(1)
	}

	100% {
		-webkit-transform: translate3d(0,0,0) scale(1.1)
	}
}

@keyframes growimageHome {
	0% {
		transform: translate3d(0,0,0) scale(1)
	}

	100% {
		transform: translate3d(0,0,0) scale(1.1)
	}
}


.zoom-image-1 {
	background: url(../images/cctv-b.jpg) no-repeat center center fixed;
	background-size: cover;
}

.zoom-image-2 {
	background: url(../images/eficiencia-b.jpg) no-repeat center center fixed;
	background-size: cover;
}

.zoom-image-3 {
	background: url(../images/env-b.jpg) no-repeat center center fixed;
	background-size: cover;
}

.scroll-item-small{

	img {
		width: 20px;
		height: auto;
	}
}

.button {
	text-transform: uppercase;

	&.button-primary{
		/* border-radius: 100px;*/
		background: $primary-green;
		/* width: 64px;*/
		/* padding: 10px 20px;*/
		color: white;
		/* font-size: 36px;*/
		/* text-align: center;*/
		width: 50px;
		height: 50px;
		text-align: center;
		padding: 6px 0;
		font-size: 36px;
		line-height: 1.0;
		border-radius: 50px;
		display: inline-block;
		font-weight: 300;

		&.button-red {
			background: $primary-red;
		}

		&.button-white {
			background: white;
			color: $primary-red;
		}

		&.button-animated {
			opacity: 0;
			-webkit-transform: scale(1.5);
			-moz-transform: scale(1.5);
			-ms-transform: scale(1.5);
			transform: scale(1.5);
			-webkit-transition: -webkit-transform .2s cubic-bezier(.175,.885,.32,1.275);
			-ms-transition: -ms-transform .2s cubic-bezier(.175,.885,.32,1.275);
			transition: transform .2s cubic-bezier(.175,.885,.32,1.275);

			-webkit-backface-visibility: hidden;
			// -webkit-transform: translateZ(0);

			backface-visibility: hidden;
			// transform: translateZ(0 scale(1.5, 1.5);

		}

		&:focus {
			text-decoration: none;
		}
	}

	&.button-default{
		color: white;
		margin-top: 10px;
		border: 1px solid white;
		padding: 15px 15px;
		display: inline-block;
		font-family: 'Lato', sans-serif;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;

		&.negative {
			&:hover,
			&:focus {
				background: white;
			}
		}

		&.inverse {
			color: #333;
			border-color: #333;

			&::after {
				background: url(../images/arrow-icon-black.png) no-repeat;
			}

			&:hover,
			&:focus {

				background: #333;
				color: white;

				&::after {
					background: url(../images/arrow-icon.png) no-repeat;
				}
			}
		}

		&:hover,
		&:focus {
			color: $default-text-color;
			background: white;



			&::after {
				background: url(../images/arrow-icon-black.png) no-repeat;
			}

		}


		&.button-movilidad-blue:hover {
			background: $movilidad-blue;
			border: 1px solid $movilidad-blue;
			color: white;
			&::after {
				background: url(../images/arrow-icon.png) no-repeat;
			}
		}

		&.button-movilidad-pink:hover {
			background: $movilidad-pink;
			border: 1px solid $movilidad-pink;
			color: white;
			&::after {
				background: url(../images/arrow-icon.png) no-repeat;
			}
		}

		&.button-movilidad-green:hover {
			background: $movilidad-green;
			border: 1px solid $movilidad-green;
			color: white;
			&::after {
				background: url(../images/arrow-icon.png) no-repeat;
			}
		}

		&::after {
			background: url(../images/arrow-icon.png) no-repeat;
			content: "";
			width: 30px;
			height: 30px;
			/* top: 10px;*/
			/* right: 5px;*/
			/* position: absolute;*/
			display: inline-block;
			width: 5px;
			height: 9px;
			margin-left: 15px;
			margin-right: 5px;

		}

		img {
			vertical-align: top;
			margin-top: 4px;
			margin-right: 10px;
		}

		&.button-big {
			background: none;
			padding: 20px;

			span {
				margin-right: 30px;
			}
		}
	}

	&:hover {
		text-decoration: none;
	}

}

.no-space {
	padding: 0;
	margin: 0;
}


/***** modal ***/
.modal-content {
	border-radius: 0;
}

.modal-header {
	padding: 0;
	position: relative;
	img {
		width: 100%;
		height: auto;
	}

	.button {
		text-shadow: none;
		opacity: 1;
		position: absolute;
		top: calc(50% - 13px);
		right: -26px;

		span {
			color: white;
		}
	}
}

.modal-body {
	h3 {
		text-transform: uppercase;
		font-weight: 900;
	}

	padding-bottom: 75px;

	.vacante-info {
		img {
			display: inline-block;
		}
		p {
			display: inline-block;
			color: #c6c6c6;
		}

		margin-bottom: 60px;
	}

}

.clientes-cover{
	background: white;
	h3 {
		color: $primary-red;
		font-size: 48px;
	}

	p {
		font-size: 18px;
		color: $default-text-color;
	}
}

.carousel {
	margin-top: 30px;

	.carousel-item {
		text-align: center;

		p {
			width: 50%;
			margin: 0 auto;
			margin-top: 45px;
			font-size: 18px;
			font-weight: 300;
			display: block;
		}

		&:hover {
			.button {
				opacity: 1;
				transform: scale(1);
			}
		}

	}


	.carrousel-content {
		width: 100%;
		height: 150px !important;
		display: table;

		div {
			vertical-align: middle;
			display: table-cell;
			text-align: center;
			position: relative;

			img {
				margin: 0 auto;
			}

			.button {
				position: absolute;
				left: calc(50% - 25px);
				top: calc(50% - 13px);
			}
		}


	}

	.slick-dots {
		padding-top: 30px;
		bottom: -50px;
	}

}

.carrousel-vertical {
	.slick-dots {
		position: absolute;
		right: 0;
		top: calc(50% - 30px);
		// width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;
		width: auto;

		li {
			display: block;
		}
		// background: red;
	}

}


.cliente-logo {
	margin-top: 90px;
	margin-bottom: 90px;
	height: 155px;

	.col-sm-4,
	.col-sm-4 .valign {
		height: 155px;
	}

	h3 {
		font-weight: 700;
		margin: 0;
	}
}

.cliente-periodo,
.cliente-stats,
.cliente-solucion {
	margin-top: 30px;
	margin-bottom: 60px;

	h4 {
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.vacante-form {

	.form-control {
		height: 50px;
		margin-bottom: 45px;
	}
	h4 {
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 60px;
	}

	label {
		text-transform: uppercase;
	}
}


nav.menu-container .menu-list .menu-item.social-icons a {
	display: inline;
	left: 0;
	margin: 0 30px;
	height: 25px;
	width: auto;
	transition: none;
}

.related-item .solution-item {
	overflow: hidden;
}

.related-item .solution-img{
	max-height: 330px;
}

.single-extract p {
	color: white;
	font-size: 12px;
}

#page {
	-webkit-transition: -webkit-transform .35s, opacity .35s;
	-ms-transition: -o-transform .35s, opacity .35s;
	-o-transition: -o-transform .35s, opacity .35s;
	transition: transform .35s, opacity .35s;
}
#page.slide-out  {
	-webkit-transform: translate3d( 250px, 0px, 0 );
	-ms-transform: translate3d( 250px, 0px, 0 );
	-o-transform: translate3d( 250px, 0px, 0 );
	transform: translate3d( 250px, 0px, 0 );
	opacity: 0;
}

.scroll-slide-arrow {
	cursor: pointer;
}

.gif-overlay {
	position: relative;

	h4 {
		position: absolute;
		top: 40%;
		font-size: 36px;
	}
}

.mundo-gif {
	width: 300px;
	height: auto;
}

.slick-track {
	background: #f7f7f7;
}

.animation {
	position: relative;

	.nube-1 {
		position: absolute;
		top: 0;
		right: 0;
	}

	.nube-2 {
		position: absolute;
		right: 0;
		top: 0;
	}

	.nube-3 {
		position: absolute;
		right: 0;
		top: 0;
	}
}

@media (max-width: 767px) {

	//general
	header h1 svg {
		width: 160px;
		height: auto;
	}

	// menu

	nav.menu-container .menu-list .menu-item{
		padding: 10px 0;

		&.social-icons {
			left: 0;
			margin-left: 0px;

			svg {
				margin: 0 10px;
				height: 20px;
				width: auto;
			}
		}

		a {
			margin-left: 0px;
			left: 0;
			font-size: 24px;
		}

		.menu-item-list {
			padding-left: 30px;
		}
	}

	// slides
	.home h2 {
		font-size: 36px;
	}
	// movilidad
	#movilidad {
		padding-top: 45px;
	}

	.movilidad-categoria {
		padding: 15px 30px;
		text-align: left;

		p {
			padding-left: 30px;
			display: inline;
		}
	}

	// news
	#news {

		height: auto;

		.news-title {
			height: auto;

			.col-sm-2 {
				text-align: left;
			}
		}

		.news-container {
			height: auto;

			.news-item {
				height: auto;

				div {
					height: auto;
				}

				.button.button-animated {
					position: relative;
				}

				&:hover {
					.button.button-animated {
						position: relative;
					}
				}
			}
		}
	}

	// newsletter

	.newsletter {
		height: auto;

		.container {
			height: auto;
		}

		.col-sm-6 .newsletter-form {
			width: auto;

			.form-control {
				width: 100%;
				margin-top: 15px;
			}
		}
	}

	footer .legal {

		text-align: left;

		img {
			width: 200px;
			height: auto;
		}
	}

	// nosotros

	.convenio-item {
		height: auto;

		h3 {
			font-size: 24px;
		}

		p {
			font-size: 16px;
		}

		.convenio-logo {
				max-width: 200px;
				height: auto;
		}
	}

	.book {
		// background: url(../images/book-b.jpg) no-repeat right top fixed;
	}

	.everything .everything-title {
		padding-left: 0px;
		margin-bottom: 30px;
	}

	.three-ambiente ul li,
	.two-eficiencia ul li,
	.one-seguridad ul li {
		font-size: 18px;;
	}

	.stats-seguridad-description .col-sm-6:first-child h3 {
		font-size: 36px;
	}

	.stats-seguridad-description .col-sm-6 {

		height: auto;

		.stats-quote{
			padding: 15px 30px;
		}

		.stats-list {
			height: auto;
			padding: 30px 0px;
		}

	}

	.stats-number {
		padding: 30px 0;
	}

	.solution-item {

		.solution-description {
			padding: 15px;
			height: 100%;

			h4 {
				font-size: 20px;
			}

			a:not(.button) {
				font-size: 12px;
			}
		}

		&.small {
			.solution-description {
				padding: 30px 15px;
			}
		}
	}

	// clientes
	.clientes-cover {
		margin-top: 60px;
		margin-bottom: 30px;
	}

	.carousel{
		max-width: 100% !important;
	}

	.carousel-item {
		.carrousel-content {
			max-width: 300px !important;
			height: auto;
		}

		// width: 350px !important;
		height: auto;
	}

	.modal-body {
		.cliente-logo {
			height: auto;
			margin-top: 15px;
			margin-bottom: 15px;

			img {
				width: 100%;
				height: auto;
				// width: 120px;
				// height: auto;
			}

			h3 {
				font-size: 18px;
			}
		}

		padding-bottom: 30px;
	}

	.boletin-related .solution-item .solution-description {
		padding: 30px;
	}

	.nosotros-cover {

		padding-bottom: 30px;

		.perks {
			width: 50%;
		}
	}

}

.two-eficiencia {
	padding-top: 0;
}

.fondo-edificios {
	position: relative;

	.two-content {
		padding-top: 90px;
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
	}
}
